    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* outfit-300 - latin */
    @font-face {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        src: url('./fonts/outfit-v2-latin-300.eot');
        /* IE9 Compat Modes */
        src: local(''),
            url('./fonts/outfit-v2-latin-300.eot?#iefix') format('embedded-opentype'),
            /* IE6-IE8 */
            url('./fonts/outfit-v2-latin-300.woff2') format('woff2'),
            /* Super Modern Browsers */
            url('./fonts/outfit-v2-latin-300.woff') format('woff'),
            /* Modern Browsers */
            url('./fonts/outfit-v2-latin-300.ttf') format('truetype'),
            /* Safari, Android, iOS */
            url('./fonts/outfit-v2-latin-300.svg#Outfit') format('svg');
        /* Legacy iOS */
    }

    /* outfit-regular - latin */
    @font-face {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 400;
        src: url('./fonts/outfit-v2-latin-regular.eot');
        /* IE9 Compat Modes */
        src: local(''),
            url('./fonts/outfit-v2-latin-regular.eot?#iefix') format('embedded-opentype'),
            /* IE6-IE8 */
            url('./fonts/outfit-v2-latin-regular.woff2') format('woff2'),
            /* Super Modern Browsers */
            url('./fonts/outfit-v2-latin-regular.woff') format('woff'),
            /* Modern Browsers */
            url('./fonts/outfit-v2-latin-regular.ttf') format('truetype'),
            /* Safari, Android, iOS */
            url('./fonts/outfit-v2-latin-regular.svg#Outfit') format('svg');
        /* Legacy iOS */
    }

    /* outfit-600 - latin */
    @font-face {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 600;
        src: url('./fonts/outfit-v2-latin-600.eot');
        /* IE9 Compat Modes */
        src: local(''),
            url('./fonts/outfit-v2-latin-600.eot?#iefix') format('embedded-opentype'),
            /* IE6-IE8 */
            url('./fonts/outfit-v2-latin-600.woff2') format('woff2'),
            /* Super Modern Browsers */
            url('./fonts/outfit-v2-latin-600.woff') format('woff'),
            /* Modern Browsers */
            url('./fonts/outfit-v2-latin-600.ttf') format('truetype'),
            /* Safari, Android, iOS */
            url('./fonts/outfit-v2-latin-600.svg#Outfit') format('svg');
        /* Legacy iOS */
    }

    p {
        font-size: 18px;
        color: hsl(215, 51%, 70%);
    }

    html {
        color: hsl(0, 0%, 100%);
        font-size: 16px;
        font-family: Outfit;
        font-weight: 300;
    }

    .time {
        color: hsl(178, 100%, 50%);
        font-weight: 600;
    }

    .date {
        font-weight: 400;
    }

    .time_svg {
        width: 13px;
        vertical-align: text-bottom;
    }

    .clock_svg {
        width: 1.3rem;
        vertical-align: text-bottom;
    }

    .flex {
        display: flex;
    }

    .attribution {
        position: absolute;
        bottom: 1rem;
        font-size: 11px;
        text-align: center;
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }

    #maincontainer {
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        background-color: hsl(217, 54%, 11%);
    }

    #cardcontainer {
        width: 330px;
        height: 550px;
        justify-content: center;
        background-color: hsl(216, 50%, 16%);
        border-radius: 1rem;
    }

    #card_content {
        position: relative;
        flex-direction: column;
        gap: 1.2rem;
        padding: 1.5rem;
    }

    #card_content .card_image {
        width: 100%;
        height: auto;
        border-radius: .8rem;
    }

    #card_content .card_date {
        justify-content: space-between;
        padding-bottom: 1rem;
        border-bottom: 1px solid hsl(215, 51%, 70%);
    }

    #card_content .card_autor {
        position: absolute;
        bottom: 1rem;
    }

    #card_content .card_autor img {
        width: 2rem;
        height: auto;
        vertical-align: middle;
        margin-right: 1rem;
        border: 1px solid white;
        border-radius: 50%;
    }

    #card_content .card_name {
        color: white;
    }